@import 'src/styles/_vars';

.project {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 5rem 1rem 1rem 1rem;
  color: $white-color;

  .project__title {
    color: $bleu-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 2rem;

    .project__title-line {
      height: 1px;
      width: 100%;
      background-color: $bleu-color;
    }

    .project__title-content {
      font-size: 24px;
      display: inline-block;
      margin-left: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .project__down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 34%;

    .project__down-icone {
      font-size: 300px;
      color: $bleu-color;
      animation: 1s infinite ease-in-out alternate blinkingIcon;

      @keyframes blinkingIcon {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 0.3;
        }
      }

      &.visible {
        display: none;
      }
    }
  }

  .project__content {

    .project__card {
      position: relative;
      z-index: 1;
      background-color: rgba($green-color, 1);
      color: $black-color;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;
      overflow: hidden;

      .project__card-image {
        position: absolute;
        z-index: -1;
        width: auto;
        height: 100%;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        opacity: 0.2;
      }

      .project__card-title {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 24px;
        letter-spacing: 1px;
        color: $bleu-color;
        text-shadow: 1px 1px 3px $grey-color;
      }

      .project__card-content {
        font-family: sans-serif;
        text-align: justify;
      }

      .project__card-list__label {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 2rem 0rem 1rem 0rem;
        
        .project__card-label {
          background-color: $grey-color;
          color: $white-color;
          font-family: sans-serif;
          padding: .5rem;
          border-radius: 10px;
          box-shadow: 1px 1px 3px $grey-color;
          margin-bottom: 1rem;
        }
      }

      .project__card-list-icone {
        display: flex;
        justify-content: flex-end;

        .project__card-icone {
          font-size: 28px;
          margin-left: 1rem;
        }

        .project__card-icone__name {
          font-size: 12px;
          margin-left: 1rem;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}

@media (min-width: 768px) {

  .project {
    width: 50%;
    margin: auto;
    margin-right: 5rem;
  }
}

@media (min-width: 900px) {
  .project {

    .project__content {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .project__card {
        width: 400px;
        overflow: visible;

        .project__card-image {
          opacity: 1;
          width: 300px;
          height: auto;
          top: 50%;
          transform: translateY(-50%);
          animation: 600ms forwards outCard;

          @keyframes outCard {
            0% {
              left: 50%;
            }
            
            100% {
              left: -80%;
            }
          }
        }
      }
    }
  }
}