@import 'src/styles/_vars';

.project {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 1rem;
  padding-top: 5rem;
  color: $white-color;

  .project__title {
    color: $bleu-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 2rem;

    .project__title-line {
      height: 1px;
      width: 100%;
      background-color: $bleu-color;
    }

    .project__title-content {
      font-size: 24px;
      display: inline-block;
      margin-left: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  .project__down {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 34%;

    .project__down-icone {
      font-size: 300px;
      color: $bleu-color;
      animation-name: blinkingIcon;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
      animation-direction: alternate;

      @keyframes blinkingIcon {
        0% {
          opacity: 0;
        }

        100% {
          opacity: 0.3;
        }
      }

      &.visible {
        display: none;
      }
    }
  }

  .project__content {

    .project__card {
      background-image: linear-gradient(rgba($green-color, 0.8)), url(../../assets/images/snake.jpg);
      background-size: 150%;
      background-repeat: no-repeat;
      background-position: center;
      color: $black-color;
      border-radius: 5px;
      padding: 1rem;
      margin-bottom: 1rem;

      .project__card-title {
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 2rem;
        font-size: 24px;
        letter-spacing: 1px;
        color: $bleu-color;
        text-shadow: 1px 1px 3px $grey-color;
      }

      .project__card-content {
        font-family: sans-serif;
        text-align: justify;
      }

      .project__card-list__label {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 2rem 0;
        
        .project__card-label {
          background-color: $grey-color;
          color: $white-color;
          font-family: sans-serif;
          padding: .5rem;
          border-radius: 10px;
          box-shadow: 1px 1px 3px $grey-color;
        }
      }

      .project__card-list-icone {
        display: flex;
        justify-content: flex-end;

        .project__card-icone {
          font-size: 28px;
          margin-left: 1rem;
        }

        .project__card-icone__name {
          font-size: 12px;
          margin-left: 1rem;
        }

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

      &.project__jeveuxpermuter {
        background-image: linear-gradient(rgba($green-color, 0.8)), url(../../assets/images/jeveuxpermuter.jpg);
        background-size: 100%;
      }

      &.project__todolist {
        background-image: linear-gradient(rgba($green-color, 0.8)), url(../../assets/images/todolist.jpg);
        background-size: 200%;
      }

      &.project__oshop {
        background-image: linear-gradient(rgba($green-color, 1));
      }

      &.project__portfolio {
        background-image: linear-gradient(rgba($green-color, 0.8)), url(../../assets/images/portfolio.jpg);
      }
    }
  }
}

@media (min-width: 768px) {

  .project {
    width: 50%;
    margin: auto;
    margin-right: 5rem;
  }
}