@import 'src/styles/_vars';

.menu {
  background-color: rgba($grey-color, 0.7);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 8;
  box-shadow: 0px 5px 12px 0px rgba($black-color,0.75);
  backdrop-filter: blur(5px);

  .menu__button {
    background: none;
    border: none;
    
    .nav-icon {
      margin: 1em;
      width: 40px;

      &.nav-icon:after,
      &.nav-icon:before,
      &.nav-icon div {
        content: '';
        background-color: $green-color;
        border-radius: 3px;
        display: block;
        height: 5px;
        margin: 7px 0;
        transition: all .4s ease-in-out;
      }

      &.open:before {
        transform: translateY(12px) rotate(135deg);
        background-color: $bleu-color;
      }
      
      &.open:after {
        transform: translateY(-12px) rotate(-135deg);
        background-color: $bleu-color;
      }
      
      &.open div {
        transform: scale(0);
      }
    }
  }

  .menu__link-up {
    position: absolute;
    right: 1rem;
    animation-name: visibleButtonUp;
    animation-duration: 500ms;
    animation-fill-mode: forwards;

    .menu__link-up-icone {
      color: $green-color;
      font-size: 35px;
    }

    &.visible {
      animation-name: invisivbleButtonUp;
      animation-duration: 500ms;
      animation-fill-mode: forwards;

      @keyframes invisivbleButtonUp {
        0% {
          top: .6rem;
        }
        
        100% {
          top: -5rem;
        }
      }
    }

    @keyframes visibleButtonUp {
      0% {
        top: -5rem;
      }
      
      100% {
        top: .6rem;
      }
    }
  }
}