@import'src/styles/_vars';

.board {
  background-color: $second-color;
  text-align: center;
  font-size: 20px;
  height: 91.4vh;
  display: flex;
  justify-content: center;
  
  .board__ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .board__li {
      letter-spacing: 2px;
      
      .board__li-lien {
        text-transform: uppercase;
        border: 1px solid $primary-color;
        padding: 1rem;
      }
    }
  }
}