@import'src/styles/_vars';

.board {
  position: absolute;
  z-index: 2;
  background-color: rgba($second-color, 0.9);
  text-align: center;
  font-size: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: offDisplayBoard;
  animation-duration: 300ms;
  animation-fill-mode: forwards;
  overflow: hidden;
  
  .board__ul {

    .board__li {
      letter-spacing: 2px;
      margin: 4rem 0;
      
      .board__li-lien {
        text-transform: uppercase;
        border: 1px solid $primary-color;
        border-radius: 5px;
        padding: 1rem;
      }
    }
  }

  &.board__open {
    animation-name: onDisplayBoard;
    animation-duration: 300ms;

    @keyframes onDisplayBoard {
      0% {
        width: 0%;
      }

      100% {
        width: 100%;
      }
    }
  }

  @keyframes offDisplayBoard {
    0% {
      width: 100%;
    }

    100% {
      width: 0%;
    }
  }
}