@import'src/styles/_vars';

.app {
  position: relative;
  z-index: auto;

  .app__menu {
    background-color: rgba($option-color, 0.9);
    position: absolute;
    width: 100%;
    z-index: 4;

    .app__button {
      background: none;
      border: none;

      .nav-icon {
        margin: 1em;
        width: 40px;

        &.nav-icon:after,
        &.nav-icon:before,
        &.nav-icon div {
          content: '';
          background-color: $second-color;
          border-radius: 3px;
          display: block;
          height: 5px;
          margin: 7px 0;
          transition: all .4s ease-in-out;
        }

        &.open:before {
          transform: translateY(12px) rotate(135deg);
        }
        
        &.open:after {
          transform: translateY(-12px) rotate(-135deg);
        }
        
        &.open div {
          transform: scale(0);
        }
      }
    }
  }

  .app__logo {
    position: absolute;
    height: 100vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;

    .app__logo-image {
      width: 300px;
      height: auto;
    }

    .app__logo-name {
      color: $second-color;
      font-weight: bold;
      text-align: center;
      margin-top: 4rem;
      font-size: 36px;
      text-shadow: 0px 0px 7px rgba($alter-color, 0.75);
    }
  }
}