@import 'src/styles/_vars';

.about {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  .about-content {
    padding: 1rem;

    .about-content__title {
      color: $bleu-color;
      display: flex;
      align-items: center;
      justify-content: center;
      
      .about-content__title-content {
        font-size: 24px;
        text-transform: uppercase;
        display: inline-block;
        margin-right: 1rem;
      }
  
      .about-content__title-line {
        height: 1px;
        width: 50%;
        background-color: $bleu-color;
      }
    }
  
    .about-content__content {
      font-family: sans-serif;
      color: $white-color;
      text-align: justify;
      line-height: 1.3rem;
      margin-top: 1rem;
  
      .about-content__content-link {
        color: $bleu-color;
        font-weight: bold;
      }
    }
  }

  .about-profile {
    position: relative;
    border: 2px solid rgba($bleu-color, 0.5);
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;

    .about-profile__picture {
      position: absolute;
      width: 250px;
      height: auto;
      top: -3.7em;
      left: -1em;
      opacity: 0.5;
    }

    @media (max-height: 640px) {
      display: none;
    }
  }
}