@import 'src/styles/_vars';

.about {
  position: absolute;
  z-index: 4;

  .about__title {
    color: $bleu-color;
  }

  .about__content {
    color: $green-color;

    .about__content-link {
      color: $bleu-color;
    }
  }
}