@import 'src/styles/_vars';

@font-face {
  font-family: 'RockSalt';
  src: url('../../assets/fonts/RockSalt-Regular.ttf');
}

.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .home__logo {
    width: 300px;
    height: auto;
  }

  .home__name {
    color: $green-color;
    font-family: 'RockSalt', sans-serif;
    margin-top: 3rem;
    font-size: 38px;
    letter-spacing: 2px;
  }

  .home__content {
    color: $bleu-color;
    margin-top: 2rem;
    font-size: 28px;
    font-family: sans-serif;
  }
}