@import 'src/styles/_vars';

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 4rem;
  margin-top: 5rem;

  .contact__title {
    color: $bleu-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 2rem;

    .contact__title-content {
      font-size: 24px;
      display: inline-block;
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .contact__title-line {
      height: 1px;
      width: 100%;
      background-color: $bleu-color;
    }
  }

  .contact__detail {
    color: $white-color;
    text-align: center;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .contact__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $bleu-color;
    padding: 1rem;

    .contact__form-label {
      color: $white-color;
      text-align: center;
      width: 100%;

      .contact__form-p {
        font-family: sans-serif;
        font-size: 12px;
        color: $red-color;
        margin-top: .5rem;
        margin-left: .5rem;
        text-align: left;
      }

      .contact__form-input-lastName {
        display: block;
        margin-top: .5rem;
        background-color: $green-color;
        border: none;
        border-radius: 5px;
        padding: .5rem;
        opacity: 0.8;
        width: 100%;
        font-weight: bold;
        box-shadow: inset 2px 2px 4px 0px $grey-color;

        &.input__valid {
          background-color: $bleu-color;
        }

        &.input__invalid {
          background-color: $red-color;
          color: $white-color;
        }
      }

      .contact__form-input-firstName {
        display: block;
        margin-top: .5rem;
        background-color: $green-color;
        border: none;
        border-radius: 5px;
        padding: .5rem;
        opacity: 0.8;
        width: 100%;
        font-weight: bold;
        box-shadow: inset 2px 2px 4px 0px $grey-color;

        &.input__valid {
          background-color: $bleu-color;
        }

        &.input__invalid {
          background-color: $red-color;
          color: $white-color;
        }
      }

      .contact__form-input-phone {
        display: block;
        margin-top: .5rem;
        background-color: $green-color;
        border: none;
        border-radius: 5px;
        padding: .5rem;
        opacity: 0.8;
        width: 100%;
        font-weight: bold;
        box-shadow: inset 2px 2px 4px 0px $grey-color;

        &.input__valid {
          background-color: $bleu-color;
        }

        &.input__invalid {
          background-color: $red-color;
          color: $white-color;
        }
      }

      .contact__form-input-email {
        display: block;
        margin-top: .5rem;
        background-color: $green-color;
        border: none;
        border-radius: 5px;
        padding: .5rem;
        opacity: 0.8;
        width: 100%;
        font-weight: bold;
        box-shadow: inset 2px 2px 4px 0px $grey-color;

        &.input__valid {
          background-color: $bleu-color;
        }

        &.input__invalid {
          background-color: $red-color;
          color: $white-color;
        }
      }

      .contact__form-input-message {
        display: block;
        margin-top: .5rem;
        background-color: $green-color;
        border: none;
        border-radius: 5px;
        padding: .5rem;
        opacity: 0.8;
        width: 100%;
        font-weight: bold;
        box-shadow: inset 2px 2px 4px 0px $grey-color;

        &.input__valid {
          background-color: $bleu-color;
        }

        &.input__invalid {
          background-color: $red-color;
          color: $white-color;
        }
      }

      &:nth-child(1n+2) {
        margin-top: 1rem;
      }
    }

    .contact__form-button {
      margin-top: 1rem;
      background-color: rgba($bleu-color, 0.7);
      color: $white-color;
      font-size: 22px;
      font-weight: bold;
      border: none;
      border-radius: 5px;
      padding: .5rem;

      .contact__form-button-icone {
        margin-left: .5rem;
      }
    }
  }
}

@media (min-width: 768px) {

  .contact {
    width: 50%;
    margin-left: 5rem;
  }
}