@import 'src/styles/_vars';

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;

  .contact__title {
    color: $bleu-color;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    margin-bottom: 2rem;

    .contact__title-content {
      font-size: 24px;
      display: inline-block;
      margin-right: 1rem;
      text-transform: uppercase;
      letter-spacing: 1px;
    }

    .contact__title-line {
      height: 1px;
      width: 100%;
      background-color: $bleu-color;
    }
  }
}