@import 'src/styles/_vars';

@font-face {
  font-family: 'RockSalt';
  src: url('../../assets/fonts/RockSalt-Regular.ttf');
}

.footer {
  position: fixed;
  bottom: 0;
  color: $green-color;
  width: 100%;
  background-color: rgba($grey-color, 0.7);
  backdrop-filter: blur(5px);
  padding: .5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__title {
    margin-left: .5rem;
    font-family: 'RockSalt', sans-serif;

    .footer__title-copy {
      font-size: 22px;
    }
  }

  .footer__user {
    margin-right: .3rem;
    width: 50px;
    height: auto;
    
    .footer__user-icone {
      font-size: 35px;
    }

    &:hover {
      color: $bleu-color;
    }
  }

  .footer__list {
    position: absolute;
    z-index: -1;
    top: -0.2rem;
    right: 4rem;
    color: $white-color;

    .footer__list-link-linkedin {
      position: absolute;
      animation: 600ms forwards showLinkedinOff;
      
      .footer__list-link-icone {
        font-size: 40px;
      }

      &.show__linkedin {
        animation: 200ms forwards showLinkedinOn;

        @keyframes showLinkedinOn {
          0% {
            opacity: 0;
            top: 0.4rem;
          }
          
          100% {
            opacity: 1;
            top: -3rem;
          }
        }

        &:hover {
          color: $bleu-color;
        }
      }

      @keyframes showLinkedinOff {
        0% {
          top: -3rem;
          opacity: 1;
        }
        
        100% {
          top: 0.4rem;
          opacity: 0;
        }
      }
    }

    .footer__list-link-github {
      position: absolute;
      animation: 400ms forwards showGithubOff;

      .footer__list-link-icone {
        font-size: 40px;
      }

      &.show__github {
        animation: 400ms forwards showGithubOn;

        @keyframes showGithubOn {
          0% {
            opacity: 0;
            top: 0.4rem;
          }
          
          100% {
            opacity: 1;
            top: -6rem;
          }
        }

        &:hover {
          color: $bleu-color;
        }
      }

      @keyframes showGithubOff {
        0% {
          top: -6rem;
          opacity: 1;
        }
        
        100% {
          top: 0.4rem;
          opacity: 0;
        }
      }
    }

    .footer__list-link-facebook {
      position: absolute;
      animation: 200ms forwards showFacebookOff;

      .footer__list-link-icone {
        font-size: 40px;
      }

      &.show__facebook {
        animation: 600ms forwards showFacebookOn;

        @keyframes showFacebookOn {
          0% {
            opacity: 0;
            top: 0.4rem;
          }
          
          100% {
            opacity: 1;
            top: -9rem;
          }
        }

        &:hover {
          color: $bleu-color;
        }
      }

      @keyframes showFacebookOff {
        0% {
          top: -9rem;
          opacity: 1;
        }
        
        100% {
          top: 0.4rem;
          opacity: 0;
        }
      }
    }
  }
}